doctype html
html(lang="en")
	head
		title Workerthoughts
		if debug
			link(rel="stylesheet", type="text/css", href="styles/less/style.css")

		else
			link(rel="stylesheet", type="text/css", href="style-" + version + ".css")
	body
		
		.container
			header
				include main-nav-content
				include sub-nav-content
			section
				include main-content

			footer
				include footer-content

		if debug
			script(src='http://localhost:35729/livereload.js')
