doctype 5
html(lang="en", ng-app="myAppModule")
	head
		title Playing around with Angular JS
	body
		h1 Hello, World!
		div
			div(ng-controller="StopWatchController as x")
				div
					span {{x.hours}}
					span :
					span {{x.minutes}}
					span :
					span {{x.seconds}}
					span :
					span {{x.milliseconds}}

				div
					button(type='button', ng-click="x.start()") Start
					button(type='button', ng-click="x.lap()") Lap
					button(type='button', ng-click="x.stop()") Stop
					button(type='button', ng-click="x.reset()") Reset
				div
					ol
						li(ng-repeat='lap in x.laps')
							{{lap.hours}}
							span :
							{{lap.minutes}}
							span :
							{{lap.seconds}}
							span :
							{{lap.milliseconds}}

		if debug
			script(src='http://localhost:35729/livereload.js')
			script(src='library/angular.js')

			script(src='app.js')

			//Services
			script(src="services/StopWatchService.js")


			//Controllers
			script(src="controllers/StopWatchController.js")
