doctype 5
html(lang="en", ng-app="myAppModule")
	head
		title Playing around with Angular JS
		link(rel="stylesheet", type="text/css", href="styles/css/bootstrap.buttons.css")
		link(rel="stylesheet", type="text/css", href="styles/less/style.css")
	body

		.container

			.content(ng-controller="StopWatchController as x")
				div.clock
					span.digit {{x.minutes | ClockDigitFilter}}
					span.digit :
					span.digit {{x.seconds | ClockDigitFilter}}
					span.digit.milliseconds {{x.milliseconds | ClockDigitFilter: 'milliseconds'}}

				.info-block
					div.controls
						button.control.btn.btn-primary(type='button', ng-click="x.start()") Start
						button.control.btn.btn-success(type='button', ng-click="x.lap()") Lap
						button.control.btn.btn-warning(type='button', ng-click="x.stop()") Pause
						button.control.btn.btn-danger(type='button', ng-click="x.reset()") Reset
					div.laps

						div.lap(ng-repeat='lap in x.laps')
							span.count
								span Lap
								span {{$index + 1}}
							span.time
								span= " "
								span {{lap.minutes | ClockDigitFilter}}
								span :
								span {{lap.seconds | ClockDigitFilter}}
								span .{{lap.milliseconds | ClockDigitFilter: 'milliseconds'}}

		if debug
			script(src='http://localhost:35729/livereload.js')
			script(src='library/angular.js')
			script(src='library/lodash.js')

			script(src='app.js')

			//Filters
			script(src="filters/ClockDigitFilter.js")

			//Services
			script(src="services/StopWatchService.js")


			//Controllers
			script(src="controllers/StopWatchController.js")
