.ning-icon
.jumbotron
	| Last month, our 
	a.highlight(href="javascript: void 0;") work
	|  helped some of our clients 
	a.highlight(href="javascript: void 0;") publish 880 million web pages
	| , seen by 
	a.highlight(href="javascript: void 0;") 93 million people
	| .
	span.superscript *


.information-box
	.information-box-left
		p.summary We create engaging, user-centered web applications & robust Internet architectures.
		p.details
			| Our 
			a(href='javscript: void 0;') people
			| include respected authors, open source contributors,
			| and conference speakers
	.information-box-right
		p.title What We Do
		ul
			li Web Application Design and Development
			li Scalability and Performance Consulting
			li Web Application Security Services
			li Architecture and Infrastructure Support


.client-information
	h1 Some of Our Clients
	ul
		li National Geo
		li ning-icon
		li friendster
		li teensport
		
