.ning-icon

.introduction
	.introduction-content
		| Last month, our 
		a.highlight(href="javascript: void 0;") work
		|  helped some of our clients 
		a.highlight(href="javascript: void 0;") publish 880 million web pages
		| , seen by 
		a.highlight(href="javascript: void 0;") 93 million people
		| .
		span.superscript *

	div.small-text.right-align-text
		| *
		a(href="#") Source


.information-boxes
	.information-box.left
		h1.big-first-letter We create engaging, user-centered web applications & robust Internet architectures.
		p
			| Our 
			a(href='javscript: void 0;') people
			|  include respected authors, open source contributors,
			| and conference speakers. We 
			a(href='javscript: void') help
			|  some of the most popular site in the world.
	.information-box.right
		h1.big-first-letter What We Do
		ul
			li Web Application Design and Development
			li Scalability and Performance Consulting
			li Web Application Security Services
			li Architecture and Infrastructure Support


.client-information
	h1 Some of Our Clients
	ul
		li
			img(src="styles/images/natgeo-158-c.gif")
		li 
			img(src="styles/images/ning-158-c.gif")
		li 
			img(src="styles/images/friendster-158-c.gif")
		li 
			img(src="styles/images/teenspot-158-c.gif")
		
