.container .client-information{

	padding: 15px;
	border-bottom: 1px solid #eee;

	li{
		border: 1px solid #eee;
		margin: 0 18px;
	}

	li:first-child{
		margin-left: 0;
	}

	li:last-child{
		margin-right: 0;
	}

	h1{
		color: #900;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	}
}