.container .client-information{

	padding: 15px 50px;
	ul, li{
		display: inline-block;
	}	

	li{
		border: 1px solid #eee;
		margin: 0 6px;
	}

	li:first-child{
		margin-left: 0;
	}

	li:last-child{
		margin-right: 0;
	}

	h1{
		color: #900;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	}
}