.container .footer{
	border-top: 1px solid #eee;
	a {
		color: #900;

	}

	ul, li{
		display: inline-block;
	}

	ul{
		margin: 0 50px;
	}

	li{
		padding: 10px 15px;
	}
	li:first-child{padding-left: 0}
	li:first-child{padding-right: 0}

}