@import "clients.less";
@import "nav.less";
@import "footer.less";
@import "information.less";
@sub-nav-side-space: 30px;
@sub-nav-vertical-space: 20px;
@nav-bar-item-width: 142px;

.container{

	width: 780px;
	margin: auto;
	font-size: 12px;

	li, ul {
		margin: 0;
		padding: 0;
	}

	section{
		clear: both;
	}


	.small-text{
		font-size: .5em;
	}

	.right-align-text{
		text-align: right;
	}

	.big-first-letter:first-letter{
		font-size: 2em;
	}

	.ning-icon{
		background-image: url('../images/ning-158-c.gif');
		background-repeat: no-repeat;
		background-position-x: -30px;
		height: 58px;
		width: 100%;
	}
	
	.pull-left {
		float: left;
	}

	.pull-right{
		float: right;
	}

	.introduction{
		font-size: 2.5em;
		background-image: url('../images/bg-introduction-full.gif');
		background-repeat: no-repeat;
		background-color: #e8e9de;
		background-position: 100% 65px;
		padding: 20px;

		a{
			text-decoration: none;
			color: #900;
		}

		.introduction-content{
			margin-right: 240px;
		}

	}	

}